.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Patrick Hand SC", cursive;
  background-color: rgb(64, 108, 136);
  color: white;
  height: 100%;
  border-bottom: solid black 2px;
  padding-bottom: 3px;
}
.header-fix {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}
.navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid black 2px;
  background-color: black;
}
.nav {
  font-family: "Patrick Hand SC", cursive;
  color: beige;
  border: solid black 2px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 10px;
}
.nav:hover {
  border: solid beige 2px;
}
.headerPadding {
  padding-top: 100px;
}
